:root {
  --sd-color-card-border-hover: var(--pst-color-primary) !important;
}

div.highlight-shell-session + div.highlight-none pre {
  background-color: var(--pst-color-preformatted-text),1 !important;
  color: var(--pst-color-preformatted-background),1 !important;
}

div.expression > div.highlight > pre::before {
  content: "Expression";
  background-color: var(--pst-color-primary);
}

div.expression > div.highlight > pre {
  border: 1px solid var(--pst-color-primary);
}

div.value > div.highlight > pre::before {
  content: "Value";
  background-color: var(--pst-color-secondary);
}

div.value > div.highlight > pre {
  border: 1px solid var(--pst-color-secondary);
}

div.highlight > pre::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;
  background-color: #b3b3b3;
  color: #fff;
  font-size: 0.8em;
  border-radius: 0 0.4em 0 0.4em;
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

div.highlight:hover > pre::before {
  opacity: 0;
}

html[data-theme="light"] .highlight .gi {
  background-color: #ccffcc;
  border: 1px solid #ccffcc;
}

html[data-theme="light"] .highlight .gd {
  background-color: #ffcccc;
  border: 1px solid #ffcccc;
  color: inherit !important;
}

html[data-theme="dark"] .highlight .gi {
  background-color: #005400;
  border: 1px solid #005400;
}

html[data-theme="dark"] .highlight .gd {
  background-color: #540000;
  border: 1px solid #540000;
  color: inherit !important;
}

.topic {
  padding: 30px;
}

.bd-links {
  padding-bottom: 0 !important;
}

.logo {
  margin-bottom: 1rem;
}

.logo a:hover {
  text-decoration: none;
}

.logo img {
  height: 3rem;
  vertical-align: middle;
}

.logo span {
  margin-left: 0.125em;
  font-size: 3.25rem;
  vertical-align: middle;
}

.bd-search {
  margin-top: -2rem;
  margin-bottom: -1rem;
}

.navbar-nav li.toctree-l1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.navbar-nav li.toctree-l1 > .toctree-toggle {
  display: none;
}

.navbar-nav li.toctree-l1 > a {
  font-weight: 600;
}

.navbar-nav li.toctree-l1 > ul {
  padding: 0;
}

html[data-theme="dark"] details {
  background-color: #323c537d;
  border: 1px solid #323c537d;
}

html[data-theme="light"] details {
  background-color: #abc8debf;
  border: 1px solid #abc8debf;
}

tml[data-theme="dark"] details a {
  color: #6097c1;
}

html[data-theme="light"] details a {
  color: #0042aa;
}
