html[data-theme="light"] {
  /* NixOS branding's Argentinian Blue L55 */
  --pst-color-primary: #2579ab !important;
  /* NixOS branding's Afghani Blue L55 */
  --pst-color-secondary: #506fb2 !important;
}

html[data-theme="dark"] {
  /* NixOS branding's Argentinian Blue L65 */
  --pst-color-primary: #3d98d1 !important;
  /* NixOS branding's Afghani Blue L65 */
  --pst-color-secondary: #698dd8 !important;
}

div.expression > div.highlight > pre::before {
  content: "Expression";
  background-color: var(--pst-color-primary);
}

div.expression > div.highlight > pre {
  border: 1px solid var(--pst-color-primary);
}

div.value > div.highlight > pre::before {
  content: "Value";
  background-color: var(--pst-color-secondary);
}

div.value > div.highlight > pre {
  border: 1px solid var(--pst-color-secondary);
}

div.highlight > pre::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;
  background-color: #b3b3b3;
  color: #fff;
  font-size: 0.8em;
  border-radius: 0 0.4em 0 0.4em;
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

div.highlight:hover > pre::before {
  opacity: 0;
}

html[data-theme="light"] .highlight .gi {
  background-color: #ccffcc;
  border: 1px solid #ccffcc;
}

html[data-theme="light"] .highlight .gd {
  background-color: #ffcccc;
  border: 1px solid #ffcccc;
  color: inherit !important;
}

html[data-theme="dark"] .highlight .gi {
  background-color: #005400;
  border: 1px solid #005400;
}

html[data-theme="dark"] .highlight .gd {
  background-color: #540000;
  border: 1px solid #540000;
  color: inherit !important;
}

.bd-links {
  padding-bottom: 0 !important;
}

.logo {
  margin-bottom: 1rem;
}

.logo a {
  text-decoration: none;
}

.logo img {
  height: 3rem;
  vertical-align: middle;
}

.logo span {
  margin-left: 0.125em;
  font-size: 3.25rem;
  vertical-align: middle;
}

.navbar-nav li.toctree-l1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.navbar-nav li.toctree-l1 > details > summary > .toctree-toggle {
  display: none;
}

.navbar-nav li.toctree-l1 > a {
  font-weight: 600;
}

.navbar-nav li.toctree-l1 > details > ul {
  padding: 0;
}
