div.highlight-shell-session + div.highlight-none pre {
  background-color: rgba(var(--pst-color-preformatted-text),1) !important;
  color: rgba(var(--pst-color-preformatted-background),1) !important;
}

div.expression > div.highlight > pre::before {
  content: "Expression";
  background-color: rgba(var(--pst-color-primary));
}

div.expression > div.highlight > pre {
  border: 1px solid rgba(var(--pst-color-primary));
}

div.value > div.highlight > pre::before {
  content: "Value";
  background-color: rgba(var(--pst-color-info));
}

div.value > div.highlight > pre {
  border: 1px solid rgba(var(--pst-color-info));
}

div.highlight > pre::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;
  background-color: #b3b3b3;
  color: #fff;
  font-size: 0.8em;
  border-radius: 0 0.4em 0 0.4em;
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

div.highlight:hover > pre::before {
  opacity: 0;
}

details {
  border-left: 0.2rem solid;
  border-radius: 0.2em;
  border-color: rgba(var(--pst-color-admonition-note));
  padding: .5em .5em 0;
  margin: 1em auto;
  box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.0625rem rgb(0 0 0 / 10%)
}

summary {
  background-color: rgba(var(--pst-color-admonition-default),.1);
  font-weight: 700;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  margin-bottom: 0.5em;
}

details[open] > *:not(summary):not(.admonition) {
  padding: 0 1.4rem;
}

details[open] > .admonition {
  margin: 0 1.4rem;
}

details[open] :last-child {
  margin-bottom: 0;
}
