---
import { Badge, Icon } from '@astrojs/starlight/components'

const { topics } = Astro.locals.starlightSidebarTopics
---

{
  topics.length > 0 && (
    <nav class="sl-flex print:hidden">
      {topics.map((topic) =>
        <a href={topic.link} class:list={{ 'starlight-sidebar-topics-current': topic.isCurrent }}>
          {topic.icon && (
            <Icon name={topic.icon} class="link-icon" />
          )}
          {topic.label}
        </a>
        )
        }
    </nav>
  )
}

<style>
  a {
    padding: 0.3em 0.8rem;
    text-decoration: none;
    border: none;
    color: var(--sl-color-white);
    display: flex;
    align-items: center;
  }

  a:is(.starlight-sidebar-topics-current, :hover, :focus-visible) {
    color: var(--sl-color-accent-high);
  }

  :global([data-theme='light']) a.starlight-sidebar-topics-current {
    color: var(--sl-color-accent);
  }

  .link-icon {
    margin-right: 0.3rem;
  }
</style>
