---
import Default from '@astrojs/starlight/components/Sidebar.astro'
import Nav from './Nav.astro'
---

<div class="sidebar-nav sl-flex md:sl-hidden">
  <Nav />
  <hr class="mt-2" />
</div>
<Default><slot /></Default>

<style is:global>
  .sidebar-nav {
    flex-direction: column;
  }

  .sidebar-nav nav {
    flex-direction: column;
  }

  .sidebar-nav a {
    font-weight: bold;
    font-size: 1rem;
  }

  .sidebar-nav hr {
    margin-top: 1rem;
  }

  .sidebar-content .large {
    display: flex;
  }
</style>
