name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]
    
jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheckcla' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request'
        # Alpha Release
        uses: cla-assistant/github-action@v2.0.1-alpha
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with: 
          path-to-signatures: 'cla/signatures.json'
          path-To-cladocument: 'https://github.com/nix-dot-dev/nix.dev/blob/master/cla/README.md'
          # branch should not be protected
          branch: 'master'
          allowlist: imgbot,dependabot*
          empty-commit-flag: false
          blockchain-storage-flag: false

