name: "Test"

on:
  push: {}
  pull_request: {}

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
       fetch-depth: 0
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v14
      with:
        name: nix-dev
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Run linkcheck
      run: nix-shell --run "make linkcheck"
  codeblock:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
       fetch-depth: 0
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v14
      with:
        name: nix-dev
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Run builder
      run: nix-shell --run "make dummy"
    - name: Test code blocks
      run: nix-shell --run "./run_code_block_tests.sh"
